<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^(www.)?standart-climat.loc$
    RewriteCond %{REQUEST_URI} !^/app/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /app/$1
    RewriteCond %{HTTP_HOST} ^(www.)?standart-climat.loc$
    RewriteRule ^(/)?$ app/index.php [L]
</IfModule>